<?xml version="1.0"?>

<launch>
  <arg name="input" default="/points_raw"/>
  <!-- <arg name="input" default="/points_raw/filtered"/> -->
  <arg name="output" default="clusters"/>
  <arg name="input_map" default="/points_map" />

  <node pkg="nodelet" type="nodelet" name="euclidean_cluster_manager" args="manager" output="screen" />
  <node pkg="nodelet" type="nodelet" name="avoxel_grid_filter" args="load pcl/VoxelGrid euclidean_cluster_manager" output="screen">
    <remap from="~input" to="$(arg input)" />
    <remap from="~output" to="voxel_grid/filtered" />
    <rosparam>
        filter_field_name: z
        filter_limit_min: 0.1
        filter_limit_max: 2.5
        filter_limit_negative: False
        leaf_size: 0.1
        input_frame: base_link
        output_frame: base_link
    </rosparam>
  </node>
  <node pkg="nodelet" type="nodelet" name="compare_map_filter" args="load points_preprocessor/voxel_based_compare_map_filter_nodelet euclidean_cluster_manager" output="screen">
    <remap from="~input" to="voxel_grid/filtered"/>
    <remap from="~map" to="$(arg input_map)"/>
    <remap from="~output" to="compare_map/filtered"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="euclidean_cluster" args="load euclidean_cluster/voxel_grid_based_euclidean_cluster_nodelet euclidean_cluster_manager" output="screen">
    <remap from="~input" to="compare_map/filtered"/>
    <remap from="~output" to="$(arg output)"/>
    <rosparam>
            target_frame: base_link
            tolerance: 0.7
            voxel_leaf_size: 0.35
            min_points_number_per_voxel: 2
            min_cluster_size: 2
            max_cluster_size: 500
    </rosparam>
  </node>
</launch>
