<?xml version="1.0"?>

<launch>
  <group ns="perception">
    <include file="$(find pointcloud_to_laserscan)/launch/vscan.launch" />
    <include file="$(find euclidean_cluster)/launch/euclidean_cluster.launch" />
    <include file="$(find vision_darknet_detect)/launch/vision_yolo3_detect.launch" />
    <include file="$(find roi_cluster_fusion)/launch/roi_cluster_fusion.launch" />
    <include file="$(find shape_estimation)/launch/shape_estimation.launch" />
    <include file="$(find dynamic_object_visualization)/launch/dynamic_object_visualizer.launch">
      <arg name="input" value="shape_estimeted_objects"/>
      <arg name="with_feature" value="true"/>
    </include>
    <include file="$(find multi_object_tracker)/launch/multi_object_tracker.launch" />
    <include file="$(find dynamic_object_visualization)/launch/dynamic_object_visualizer.launch">
      <arg name="input" value="tracker/objects"/>
      <arg name="with_feature" value="false"/>
    </include>
  </group>
</launch>
