<launch>
  <arg name="input" default="/points_raw"/>
  <arg name="output" default="$(arg input)/filtered"/>
  <arg name="input_map" default="/points_map" />

  <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />
  <node pkg="nodelet" type="nodelet" name="voxel_grid_filter" args="load pcl/VoxelGrid pcl_manager" output="screen">
    <remap from="~input" to="$(arg input)" />
    <remap from="~output" to="$(arg input)/voxel_grid/filtered" />
    <rosparam>
        filter_field_name: z
        filter_limit_min: -2.0
        filter_limit_max: 0.5
        filter_limit_negative: False
        leaf_size: 0.1
        output_frame : base_link
    </rosparam>
  </node>
  <node pkg="nodelet" type="nodelet" name="crop_box_filter" args="load pcl/CropBox pcl_manager" output="screen">
    <remap from="~input" to="$(arg input)/voxel_grid/filtered" />
    <remap from="~output" to="$(arg input)/crop_box/filtered" />
    <rosparam>
        min_x: -2.0
        max_x: 2.0
        min_y: -1.5
        max_y: 1.5
        min_z: 0.0
        max_z: 3.0
        negative: True
        output_frame : base_link
    </rosparam>
  </node>
  <node pkg="nodelet" type="nodelet" name="compare_map_filter" args="load points_preprocessor/voxel_based_compare_map_filter_nodelet pcl_manager" output="screen">
    <remap from="~input" to="$(arg input)/crop_box/filtered"/>
    <remap from="~map" to="$(arg input_map)"/>
    <remap from="~output" to="$(arg output)"/>
  </node>

</launch>
