<launch>
    <arg name="input_points_raw0" default="/points_raw"/>
    <arg name="input_points_raw1" default=""/>
    <arg name="input_points_raw2" default=""/>
    <arg name="input_points_raw3" default=""/>
    <arg name="input_points_raw4" default=""/>
    <arg name="input_points_raw5" default=""/>
    <arg name="input_points_raw6" default=""/>
    <arg name="input_points_raw7" default=""/>
    <arg name="input_points_number" default="1"/>
    <arg name="output_points_raw" default="/points_raw/filtered"/>
    <arg name="tf_output_frame" default="base_link"/>
    <!-- <arg name="leaf_size" default="0.1"/> -->

    <!-- nodelet manager -->
    <group ns="points_preprocessor">
        <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />
        <!-- voxel grid filter -->
        <!-- <group unless="$(eval input_points_raw0=='')">
        <node pkg="nodelet" type="nodelet" name="voxel_grid_filter" args="load pcl/VoxelGrid pcl_manager" output="screen">
            <remap from="~input" to="$(arg input_points_raw0)" />
            <remap from="~output" to="$(arg input_points_raw0)/voxel_grid/filtered" />
            <rosparam>
        filter_field_name: z
        filter_limit_min: -100.0
        filter_limit_max: 100.0
        filter_limit_negative: False
            </rosparam>
            <param name="input_frame" value="$(arg tf_output_frame)" />
            <param name="output_frame" value="$(arg tf_output_frame)" />
            <param name="leaf_size" value="$(arg leaf_size)" />
        </node>
    </group>
    <group unless="$(eval input_points_raw1=='')">
        <node pkg="nodelet" type="nodelet" name="voxel_grid_filter" args="load pcl/VoxelGrid pcl_manager" output="screen">
            <remap from="~input" to="$(arg input_points_raw0)" />
            <remap from="~output" to="$(arg input_points_raw0)/voxel_grid/filtered" />
            <rosparam>
        filter_field_name: z
        filter_limit_min: -100.0
        filter_limit_max: 100.0
        filter_limit_negative: False
            </rosparam>
            <param name="input_frame" value="$(arg tf_output_frame)" />
            <param name="output_frame" value="$(arg tf_output_frame)" />
            <param name="leaf_size" value="$(arg leaf_size)" />
        </node>
    </group>
    <group unless="$(eval input_points_raw2=='')">
        <node pkg="nodelet" type="nodelet" name="voxel_grid_filter" args="load pcl/VoxelGrid pcl_manager" output="screen">
            <remap from="~input" to="$(arg input_points_raw0)" />
            <remap from="~output" to="$(arg input_points_raw0)/voxel_grid/filtered" />
            <rosparam>
        filter_field_name: z
        filter_limit_min: -100.0
        filter_limit_max: 100.0
        filter_limit_negative: False
            </rosparam>
            <param name="input_frame" value="$(arg tf_output_frame)" />
            <param name="output_frame" value="$(arg tf_output_frame)" />
            <param name="leaf_size" value="$(arg leaf_size)" />
        </node>
    </group>
    <group unless="$(eval input_points_raw3=='')">
        <node pkg="nodelet" type="nodelet" name="voxel_grid_filter" args="load pcl/VoxelGrid pcl_manager" output="screen">
            <remap from="~input" to="$(arg input_points_raw0)" />
            <remap from="~output" to="$(arg input_points_raw0)/voxel_grid/filtered" />
            <rosparam>
        filter_field_name: z
        filter_limit_min: -100.0
        filter_limit_max: 100.0
        filter_limit_negative: False
            </rosparam>
            <param name="input_frame" value="$(arg tf_output_frame)" />
            <param name="output_frame" value="$(arg tf_output_frame)" />
            <param name="leaf_size" value="$(arg leaf_size)" />
        </node>
    </group>
    <group unless="$(eval input_points_raw4=='')">
        <node pkg="nodelet" type="nodelet" name="voxel_grid_filter" args="load pcl/VoxelGrid pcl_manager" output="screen">
            <remap from="~input" to="$(arg input_points_raw0)" />
            <remap from="~output" to="$(arg input_points_raw0)/voxel_grid/filtered" />
            <rosparam>
        filter_field_name: z
        filter_limit_min: -100.0
        filter_limit_max: 100.0
        filter_limit_negative: False
            </rosparam>
            <param name="input_frame" value="$(arg tf_output_frame)" />
            <param name="output_frame" value="$(arg tf_output_frame)" />
            <param name="leaf_size" value="$(arg leaf_size)" />
        </node>
    </group>
    <group unless="$(eval input_points_raw5=='')">
        <node pkg="nodelet" type="nodelet" name="voxel_grid_filter" args="load pcl/VoxelGrid pcl_manager" output="screen">
            <remap from="~input" to="$(arg input_points_raw0)" />
            <remap from="~output" to="$(arg input_points_raw0)/voxel_grid/filtered" />
            <rosparam>
        filter_field_name: z
        filter_limit_min: -100.0
        filter_limit_max: 100.0
        filter_limit_negative: False
            </rosparam>
            <param name="input_frame" value="$(arg tf_output_frame)" />
            <param name="output_frame" value="$(arg tf_output_frame)" />
            <param name="leaf_size" value="$(arg leaf_size)" />
        </node>
    </group>
    <group unless="$(eval input_points_raw6=='')">
        <node pkg="nodelet" type="nodelet" name="voxel_grid_filter" args="load pcl/VoxelGrid pcl_manager" output="screen">
            <remap from="~input" to="$(arg input_points_raw0)" />
            <remap from="~output" to="$(arg input_points_raw0)/voxel_grid/filtered" />
            <rosparam>
        filter_field_name: z
        filter_limit_min: -100.0
        filter_limit_max: 100.0
        filter_limit_negative: False
            </rosparam>
            <param name="input_frame" value="$(arg tf_output_frame)" />
            <param name="output_frame" value="$(arg tf_output_frame)" />
            <param name="leaf_size" value="$(arg leaf_size)" />
        </node>
    </group> -->

        <!-- concat filter -->
        <group if="$(eval input_points_number!=1)">
            <node pkg="nodelet" type="nodelet" name="concatenate_filter" args="load pcl/PointCloudConcatenateDataSynchronizer pcl_manager">
                <remap from="~output" to="points_raw/concatneted" />
                <param name="output_frame" value="$(arg tf_output_frame)" />
                <param name="approximate_sync" value="true" />
                <rosparam if="$(eval input_points_number==2)" param="input_topics" subst_value="true">[$(arg input_points_raw0), $(arg input_points_raw1)]</rosparam>
                <rosparam if="$(eval input_points_number==3)" param="input_topics" subst_value="true">[$(arg input_points_raw0), $(arg input_points_raw1), $(arg input_points_raw2)]</rosparam>
                <rosparam if="$(eval input_points_number==4)" param="input_topics" subst_value="true">[$(arg input_points_raw0), $(arg input_points_raw1), $(arg input_points_raw2), $(arg input_points_raw3)]</rosparam>
                <rosparam if="$(eval input_points_number==5)" param="input_topics" subst_value="true">[$(arg input_points_raw0), $(arg input_points_raw1), $(arg input_points_raw2), $(arg input_points_raw3), $(arg input_points_raw4)]</rosparam>
                <rosparam if="$(eval input_points_number==6)" param="input_topics" subst_value="true">[$(arg input_points_raw0), $(arg input_points_raw1), $(arg input_points_raw2), $(arg input_points_raw3), $(arg input_points_raw4), $(arg input_points_raw5)]</rosparam>
                <rosparam if="$(eval input_points_number==7)" param="input_topics" subst_value="true">[$(arg input_points_raw0), $(arg input_points_raw1), $(arg input_points_raw2), $(arg input_points_raw3), $(arg input_points_raw4), $(arg input_points_raw5), $(arg input_points_raw6)]</rosparam>
                <rosparam if="$(eval input_points_number==8)" param="input_topics" subst_value="true">[$(arg input_points_raw0), $(arg input_points_raw1), $(arg input_points_raw2), $(arg input_points_raw3), $(arg input_points_raw4), $(arg input_points_raw5), $(arg input_points_raw6), $(arg input_points_raw7)]</rosparam>
            </node>
        </group>
        <!-- crop box filter -->
        <node pkg="nodelet" type="nodelet" name="crop_box_filter" args="load pcl/CropBox pcl_manager" output="screen">
            <remap if="$(eval input_points_number==1)" from="~input" to="$(arg input_points_raw0)" />
            <remap if="$(eval input_points_number!=1)" from="~input" to="points_raw/concatneted" />
            <remap from="~output" to="$(arg output_points_raw)" />
            <rosparam>
        min_x: -2.0
        max_x: 2.0
        min_y: -1.5
        max_y: 1.5
        min_z: 0.0
        max_z: 3.0
        negative: True
            </rosparam>
            <param name="input_frame" value="$(arg tf_output_frame)" />
            <param name="output_frame" value="$(arg tf_output_frame)" />
        </node>
    </group>
</launch>
